@font-face {
  font-family: "SAPBold";
  src: url("fonts/BentonSansBold.woff2") format("woff2"),
    url("fonts/BentonSansBold.woff") format("woff"),
    url("fonts/BentonSansBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SAPBold";
  src: url("fonts/BentonSansBoldItalic.woff2") format("woff2"),
    url("fonts/BentonSansBoldItalic.woff") format("woff"),
    url("fonts/BentonSansBoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SAPMedium";
  src: url("fonts/BentonSansMedium.woff2") format("woff2"),
    url("fonts/BentonSansMedium.woff") format("woff"),
    url("fonts/BentonSansMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SAPMedium";
  src: url("fonts/BentonSansMediumItalic.woff2") format("woff2"),
    url("fonts/BentonSansMediumItalic.woff") format("woff"),
    url("fonts/BentonSansMediumItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SAPRegular";
  src: url("fonts/BentonSansRegular.woff2") format("woff2"),
    url("fonts/BentonSansRegular.woff") format("woff"),
    url("fonts/BentonSansRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SAPRegular";
  src: url("fonts/BentonSansRegularItalic.woff2") format("woff2"),
    url("fonts/BentonSansRegularItalic.woff") format("woff"),
    url("fonts/BentonSansRegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SAPBook";
  src: url("fonts/BentonSansBook.woff2") format("woff2"),
    url("fonts/BentonSansBook.woff") format("woff"),
    url("fonts/BentonSansBook.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SAPBook";
  src: url("fonts/BentonSansBookItalic.woff2") format("woff2"),
    url("fonts/BentonSansBookItalic.woff") format("woff"),
    url("fonts/BentonSansBookItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SAPLight";
  src: url("fonts/BentonSansLight.woff2") format("woff2"),
    url("fonts/BentonSansLight.woff") format("woff"),
    url("fonts/BentonSansLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SAPLight";
  src: url("fonts/BentonSansLightItalic.woff2") format("woff2"),
    url("fonts/BentonSansLightItalic.woff") format("woff"),
    url("fonts/BentonSansLightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clear {
  *zoom: 1;
}
.clear:after {
  clear: both;
}
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 16px;
  line-height: 1.6;
  font-weight: normal;
  font-family: SAPRegular;
  color: #444;
  transition: all 0.4s 0.3s ease-in;
  margin: 0;
}

body,
html {
  width: 100%;
}
img {
  width: 100%;
}
button:hover {
  cursor: pointer;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-desktop {
  display: none;
}
.left,
.right {
  width: 100%;
  padding: 0 10px;
}
.section1-right {
  padding-right: 15px;
  padding-left: 15px;
}
.head-line-title {
  font-size: 1.5em;
  font-weight: bold;
}
.percent-number {
  color: #f0ab00;
  font-size: 5.3125em;
  font-weight: bold;
  line-height: 1.1em;
}
.left-logo img {
  width: 200px;
}
.right-logo .logo-mobile {
  width: 70px;
}

button {
  border-radius: 25px;
  text-transform: uppercase;
  padding: 18.5px;
  font-weight: bold;
  border: none;
}
/*form*/
.form-title {
  color: #fff !important;
  font-size: 1.75em;
}
form button {
  background-color: #e6ad3c;
  color: #000;
}
form input {
  padding: 5px 3px;
  font-size: 1.3em;
  width: 100%;
}
/*header*/
header {
  margin: 20px 0;
}
/*main*/
.main {
  margin-bottom: 60px;
}
/*section1*/
.section1 {
  background-color: #222;
  color: #fff;
  padding: 30px 0;
}

.section1 h1 {
  color: #f0ab00;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 0;
  font-size: 2.25em;
  line-height: 1.2em;
}
.section1 img {
  margin-left: -30%;
  width: 130%;
}

/*section2*/

/*section3*/
.section3-inner {
  background-color: #eee;
  padding: 1px 15px;
}
/*section4*/
.section4 h4 {
  font-size: 1.25em;
  font-weight: bold;
}
.section4 button {
  background-color: #fff;
  color: #000;
}
.section4-inner {
  background-color: #e6ad3c;
  padding: 24px 15px;
}
/*footer*/
footer {
  background-color: #000;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}
footer .social {
  text-align: center;
}
footer .social a i {
  font-size: 2.25em;
  margin-left: 32px;
  margin-right: 32px;
}

footer .social a i:first-child {
  margin-left: 0;
}
.fa-google-plus-g {
  margin-right: 0 !important;
}

footer a {
  color: #fff;
}
.footer-left {
  font-size: 0.875em;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .left-logo img {
    width: 262px;
  }
  .section1 img {
    /* position: absolute;
    left: -30px; */
  }
  /* .section1 ul {
    margin-top: 210px;
  } */
}
@media (min-width: 768px) {
  body {
    font-size: 18px;
    line-height: 1.8;
  }
  .container {
    max-width: 720px;
  }
  .logo-desktop {
    display: block;
    width: 300px;
  }
  .logo-mobile {
    display: none;
  }
  .section1-inner {
    display: flex;
    justify-content: space-between;
  }
  .section1 h1 {
    font-size: 2.7em;
    line-height: 1.2;
  }
  .form-title {
    font-size: 1.875em;
    margin: 0;
  }
  .section2 .container,
  .section3-inner-inner {
    display: flex;
  }
  .section2-right-inner-item,
  .section4-inner {
    display: flex;
    align-items: center;
  }
  .section2-right-inner-item * {
    padding: 14px 5px;
  }
  .section2 {
    padding: 80px 0;
  }
  .section4 button {
    margin-left: 30px;
    height: 100%;
  }
  footer .container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .section1 {
    padding: 50px 0;
  }
  .section1-right {
    width: 40%;
  }
  .section1-left {
    width: 50%;
  }
  .percent-number {
    font-size: 4.7em;
  }
  .head-line-title {
    font-size: 1.7em;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
